<%= link_to(@user.name, "/users/#{@user.id}") %>
<%= @micropost.content %>
<% if Like.find_by(user_id: current_user.id, post_id: @micropost.id) %>
  <%= link_to("/likes/#{@micropost.id}/destroy", {method: "post"}) do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to("/likes/#{@micropost.id}/create", {method: "post"}) do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>
<%= @likes_count %>

<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_for [@micropost, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
