<!DOCTYPE html>
<html>
  <head>
  　<title><%= full_title(yield(:title))%></title>
  　<%= csrf_meta_tags %>  
  　<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  　<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  　<%= render 'layouts/shim' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to 'CloneApp', root_path, id: "logo" %>
        <nav>
          <ul class="searchbox nav navbar navbar-center text-center">
            <% if user_signed_in? %>
              <%= search_form_for @search, url: microposts_path do |f| %>
                <li><%= f.text_field :content_or_user_name_cont ,placeholder: '名前/投稿内容' %></li>
                <li><%= f.submit ("検索") , class: 'search-btn'%></li>
              <% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'マイページ', current_user%></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>